@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import 'tailwindcss';


:root {
  color-scheme: dark;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #bc4419;
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
}

#root {
  min-height: 100vh;
  background-color: #bc4419;
  color: #ffffff;
}